# Start by excluding all files.
*
 
 
# git stuff
!.gitignore
!.gitconfig
 
# my configs
!.bashburnrc
!.bash_logout
!.bash_profile
!.bashrc
!.config/openbox/*
!.config/awesome/*
!.config/awesome/themes/*
!.config/gmusicbrowser/*
!.config/gecko-mediaplayer/*
|.config/Thunar/*
!.config/xfce4/*
!.conky/*
!.conkyrc_sidebar
!.fehrc
!.fonts.conf
!.gvimrc
!.mailcap
!.mplayer/*
!.rtorrent.rc
!.screenrc
!.stalonetrayrc
!.taskrc
!.vim/*
!.vimrc
!.wgetrc
!.xbindkeysrc
!.Xdefaults
!.xinitrc
!.xmobarrc
!.Xmodmap
!.xsession
