[user]
	name = Gianluca Fiore
	email = forod.g@gmail.com
[color]
	ui = true
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	grep = yes
[format]
	signoff = true
[core]
	excludesfile = /home/gianluca/.gitignore
[alias]
	l = log --graph --decorate --no-merges --oneline
	lp = log --graph --decorate --pretty=short -p --word-diff
	discard = reset HEAD --hard
[apply]
	whitespace = fix
[diff]
	renames = true
	tool = vimdiff
[merge]
# show a third section in the middle with the common ancestor code
	conflictstyle = diff3
