[user]
	name = Gianluca Fiore
	email = forod.g@gmail.com
[color]
	ui = true
[remote "github"]
	url = ssh://git@github.com:Donearm/configs.git
	fetch = +refs/heads/*:refs/remotes/github/*
	push = refs/heads/*:refs/heads/*
