[user]
	name = Gianluca Fiore
	email = forod.g@gmail.com
[color]
	ui = true
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	grep = yes
[format]
	signoff = true
[core]
	excludesfile = /home/gianluca/.gitignore
[apply]
	whitespace = fix
[diff]
	renames = true
	tool = vimdiff
