set completion-ignore-case on
set editing-mode vi

$if mode=vi
	set keymap vi-insert
	"C-l": clear-screen
	"C-p": history-search-backward
	"C-n": history-search-forward
	"\e.": yank-last-arg

	set keymap vi-command
    "D": kill-line
    "dw": kill-word
    "dd": kill-whole-line
    "db": backward-kill-word
    "cc": "ddi"
    "cw": "dwi"
    "cb": "dbi"
    "diw": "lbdw"
    "yiw": "lbyw"
    "ciw": "lbcw"
    "diW": "lBdW"
    "yiW": "lByW"
    "ciW": "lBcW"
    "gg": beginning-of-history
    "G": end-of-history
$endif
